.siman,
.workshop-group-creation {
  margin: 0 auto;
  width: 500px;
}

.workshop-group-creation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.workshop-group-creation .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workshop-group-creation .header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.workshop-group-creation .header h3 {
  font-size: 1.5rem;
  color: #666;
}

.workshop-group-creation .form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.workshop-group-creation input,
.workshop-group-creation select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.workshop-group-creation button {
  width: 100%;
  background-color: rgba(24, 119, 242, 0.8);
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.workshop-group-creation .buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.workshop-group-creation .create-group-button,
.workshop-group-creation .download-button {
  width: 45%;
}

.workshop-group-creation .input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.workshop-group-creation label {
  width: 30%;
}

.workshop-group-creation select {
  box-shadow: none;
}

.workshop-group-creation .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.workshop-group-creation .buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .workshop-group-creation .create-group-button,
  .workshop-group-creation .download-button {
    width: 45%;
  }
  