.nav-container {
  position: relative;
  display: inline-block;
  max-width: 50px + 10px;
  max-height: 50px + 10px;
  overflow: visible;
  outline: none;
}

.nav-container.is-active .nav-toggle:before,
.nav-container.is-active .nav-toggle:after {
  box-shadow: none;
}

.nav-container.is-active .nav-toggle:before {
  transform: rotate(-45deg);
}

.nav-container.is-active .nav-toggle:after {
  transform: rotate(45deg);
}

.nav-toggle {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 10px;
  z-index: 2;
}

.nav-toggle:hover {
  cursor: pointer;
}

.nav-toggle:before,
.nav-toggle:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 4px;
  background: red;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-toggle:before {
  box-shadow: 0 20px 0 0 red;
}

.nav-toggle:after {
  box-shadow: 0 -20px 0 0 red;
}

.nav-items {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  max-width: 50vw;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 80px 20px 20px 10px;
  transition: transform 0.3s ease;
  transform: translate(calc(-100% - 50px), 0);
  background: #EFEFEF;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px 0;
  align-content: start;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.nav-item {
  background: #EFEFEF;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  cursor: pointer;
  background: #E5E5E5;
}
